{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
      <img src="cactus500.png" alt="Cactus Comments logo" caption="<em>Cactus Comments</em>" class="img-fluid"/>
    </div>


    <div class="col-lg-9 col-xl-8 text-center">

      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ "docs/getting-started/introduction/" | absURL }}" role="button">Get Started</a>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ "demo/" | absURL }}" role="button">Try the Demo</a>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Embed Anywhere</h2>
        <p>Easily use Cactus Comments on any webpage whether it is static or dynamic.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Privacy Respecting</h2>
        <p>Give your users full control over who hosts their data. Users can log in using any Matrix server they choose.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Highly Compatible</h2>
        <p>Read and post comments in your browser, or continue the conversation using <a href="https://matrix.org/clients/">any other Matrix client</a>.</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Libre and Open Source</h2>
        <p>The <a href="https://gitlab.com/cactus-comments" target="_blank">source code</a> for the web client is LGPLv3 licensed, and the backend service is AGPLv3 licensed.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Decentralized</h2>
        <p>Comment sections are accesible from any homeserver on the Matrix network.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Powered by Open Standards</h2>
        <p>Cactus Comments is powered by the Matrix open standard for decentralized real-time communication.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
